.form label{
    float: left;
}
.input {
    border-radius: 10px;
    outline: 2px solid #8bc1f7;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    margin-left: 100px;
  }
  
  .input:focus {
    outline-offset: 5px;
    background-color: #fff
  }

  /* Estilo para o container */
.container {
    margin-top: 50px; /* Espaçamento superior */
}

/* Estilo para o formulário */
.form {
    max-width: 400px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #8bc1f7; /* Borda */
    border-radius: 8px; /* Borda arredondada */
    background-color: #cfe2f3; /* Nova cor de fundo */
}

/* Estilo para os rótulos */
.form-label {
    font-weight: bold; /* Negrito */
}

/* Estilo para o botão Adicionar */
.btn-primary {
    display: inline-block; /* Alterado para inline-block */
    margin: 0 auto; /* Centraliza os botões horizontalmente */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    background-color: #007bff; /* Nova cor de fundo (azul) */
    color: #fff; /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro ao passar por cima */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}



/* Estilo para o botão Voltar */
.btn-voltar {
    display: inline-block; /* Alterado para inline-block */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    background-color: #6c757d; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro ao passar por cima */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

.btn-voltar:hover {
    background-color: #495057; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o contêiner dos botões */
.btn-container {
    text-align: center; /* Centraliza os elementos filhos horizontalmente */
    margin-top: 20px; /* Espaçamento superior */
}

.container h2 {
    color: #343a40; /* Cor do texto */
    text-align: center; /* Alinhar ao centro */
    margin-bottom: 20px; /* Espaçamento inferior */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}

