/* Estilo para o título */
.delete-title {
    color: #343a40; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 30px; /* Espaçamento inferior */
}

/* Estilo para o modal */
.modal-content {
    background-color: #fff; /* Cor de fundo */
    border-radius: 8px; /* Borda arredondada */
}

.modal-header {
    border-bottom: none; /* Remove a borda inferior do cabeçalho */
}

.modal-footer {
    border-top: none; /* Remove a borda superior do rodapé */
}

/* Estilo para o select de cursos */
.select-curso {
    border-radius: 8px; /* Borda arredondada */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
    width: 200px; /* Largura do select */
    appearance: none; /* Remove o estilo padrão do sistema operacional */
    background-color: #e9ecef; /* Cor de fundo */
    border: 1px solid #ced4da; /* Cor da borda */
    margin-left: 550px;
}

/* Estilo para a caixa que envolve o select */
.select-box {
    display: inline-block; /* Permite ajustar o tamanho conforme o conteúdo */
    border: 1px solid #ced4da; /* Cor da borda */
    border-radius: 8px; /* Borda arredondada */
    padding: 5px; /* Espaçamento interno */
}

/* Estilo para o ícone do select */
.select-icon {
    position: relative; /* Permite posicionar o ícone */
    pointer-events: none; /* Impede interação com o ícone */
}

/* Estilo para o botão "Excluir" */
.btn-excluir {
    border-radius: 8px; /* Borda arredondada */
    padding: 10px 20px; /* Espaçamento interno */
    background-color: #dc3545; /* Cor de fundo */
    border-color: #dc3545; /* Cor da borda */
    color: #fff; /* Cor do texto */
    margin-left: 560px;
}

.btn-excluir:hover {
    background-color: #c82333; /* Cor de fundo ao passar o mouse */
    border-color: #bd2130; /* Cor da borda ao passar o mouse */
}
/* Estilo para o botão Voltar */
.btn-voltar {
    display: inline-block; /* Alterado para inline-block */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    background-color: #6c757d; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro ao passar por cima */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

.btn-voltar:hover {
    background-color: #495057; /* Cor de fundo ao passar o mouse */
}
